.App{
  text-align: center;
  background-image: url(img5.jpg);
  background-attachment:fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold; */
}


.App-header {
  margin: 0;
  display: flex;
  /* justify-content: center;  */
  align-items: center;
  min-height: 100vh;
  color: #000000;
}

.main-content {
  display: flex;
  flex-direction: row;  
  margin-left: 70px;
}
.box{
  flex-direction: column;
  border-radius: 15px;
  width: 400px;
  padding: 20px; 
  color: black;
  /* background-color: #255D6E; */
}
h3{
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
label{
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}
input{
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  /* border-radius: 5px; */
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  color: #ffffff;
  width: 95%;
}
button{
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 17px;
  /* font-weight: bold; */
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
button:hover {
  background-color: #444444; 
  transform: scale(1.05); 
}
img{
  border-radius: 15px;
  width: 650px;
}
a{
  color: white;
}